@tailwind base;

    /* custom css */
    .checkbox{
        outline: none;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance:none;
        border: none;
        width: 5px;
        height: 25px;
        border-radius: 25px;
        background-color: white;
        /* border:white;
        border:solid; */
        
        width: 5%;
    }
    .complete{
        background-color: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));
        background-color:blue;
    }
    body{
        background-image: url(images/bg-desktop-dark.jpg);
        min-height: 100px;
        position: absolute;
        
    }
    .list{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
        
        

    }
    .inner-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        padding-bottom: 5px; 
    }
    .input-field{
        outline: none;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance:none;
        border: none;
        padding-bottom: 5px;
       padding-left: 10px;
        width: 90%;
        background-color: hsl(235, 24%, 19%);
        
        
        
    }
    .remove{
        
        padding-bottom: 5px;
        width: 5%;
        
    }
    .hr{
        width: 100%;
        margin: 0;
        padding-bottom: 5px;
    }
    .image{
        background-image: url(images/bg-desktop-dark.jpg);
        position: absolute;
        width: 100%;
        min-height: 100px;
    }
    .togglemode{
        src: url(./images/icon-moon.svg)
    }
    
@tailwind components;
@tailwind utilities;